.ProductConfigurableAttributeDropdown {
    @include after-mobile {
        --input-padding: 10px 20px;
        width: 200px;
    }

    @include mobile {
        margin: var(--option-margin);
    }
}
