.CarouselScrollArrow {
    $transform: translate(-50%, -50%);
    $transform-hover: $transform scale(1.2);

    height: 40px;
    z-index: 1;
    transition: opacity 200ms;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: $transform rotate(135deg);
        transition: transform 200ms;
        display: block;
        height: 15px;
        width: 15px;
        border-style: solid;
        border-width: 0 0 2px 2px;
    }

    &:hover {
        &::before {
            transform: $transform-hover rotate(135deg);
        }
    }

    &_isNextArrow {
        &::before {
            transform: $transform rotate(-45deg);
        }

        &:hover {
            &::before {
                transform: $transform-hover rotate(-45deg);
            }
        }
    }

    &_isDisabled {
        opacity: 0;
        cursor: default;
    }
}
