.MyAccountPasswordForm{
    &-Wrapper{
        display: flex;
        justify-content: center;
        @include after-mobile{
            padding-top: .5rem; // var(--popup-content-padding) - 1rem
        }
        button{
            @include mobile{
                width:100%;
            }
        }
    }
}