:root {
    --product-information-background: #f3f3f3;
}

.ProductInformation {
    display: none;

    @include desktop {
        margin-top: 3rem;
        grid-column: 1 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 120px;
        background-color: var(--product-information-background);
    }

    &-Image {
        @include desktop {
            padding-bottom: 40%;
            mix-blend-mode: multiply;
        }
    }
}