.StoreInPickUpStore {
    &-Store {
        align-items: center;
        border-bottom: 0.1rem solid $black;
        display: flex;
        justify-content: space-between;

        &:last-of-type {
            border-bottom: none;
        }

        &Data {
            padding: 2rem 0;

            > * {
                font-size: 1.4rem;
                line-height: 1.8;
                margin: 0;
            }
        }
    }
}
