:root {
    --overlay-background: #fff;
    --overlay-divider-color: #000;
    --overlay-desktop-border-color: var(--color-primary-light);
}

.Overlay {
    pointer-events: none;
    will-change: opacity;
    z-index: 10;
    opacity: 0;

    background-color: var(--overlay-background);

    @include mobile {
        -webkit-overflow-scrolling: touch;

        border-top: 1px solid var(--overlay-divider-color);
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        overflow: scroll;
        overflow-x: hidden;
        max-width: 100%;
    }

    @include after-mobile {
        position: absolute;
        transition: opacity 200ms;
    }

    &_isVisible {
        pointer-events: all;
        touch-action: pan-y;
        opacity: 1;
    }
}
