.ContactPage {
    &-Heading {
        height: 3.6rem;
        margin-top: 2.4rem;
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
    }

    &-ColumnWrapper {
        display: flex;

        @include mobile {
            display: block;
        }
    }

    &-Column {
        flex: 1;

        &_isContent {
            margin-right: 1.8rem;

            @include mobile {
                margin-right: 0;
            }
        }
    }
}
