.TierPrices {
    width: 100%;
    margin-block-start: 15px;

    &-Item {
        font-size: 15px;
        padding-inline-start: 0;

        &:last-child {
            margin-bottom: 12px;

            @include mobile {
                margin-bottom: 14px;
            }
        }

        &::before {
            content: none;
        }

        &_isLowest {
            color: var(--secondary-dark-color);
            font-size: 10px;
            margin-bottom: 0;
            line-height: 1.8;
        }
    }

    &-ItemPrice {
        font-weight: bold;
    }
}
