.Draggable {
    user-select: none; // because it selects text when dragged
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: pan-y;
    backface-visibility: hidden;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}
