:root {
    --swipeable-background-color: #eb4444;
}

.Swipeable {
    overflow: hidden;

    &-Container {
        display: flex;

        transition: var(--transitionCss);
        transform: translateX(var(--translateX));
    }

    &-Panel {
        min-height: 100%;
        min-width: 100%;
        background-color: var(--swipeable-background-color);

        &_pos_left,
        &_pos_right {
            display: flex;
            align-items: center;
        }

        &_pos_left {
            flex-direction: row-reverse;
        }
    }

    &-ChildPanelContainer {
        display: inline-flex;
        align-items: center;

        padding: 1rem;
    }

    &-SwipeActionButton {
        font-size: 12px;
        color: $white;
    }
}
