.Swipeable {
    overflow: hidden;

    &-Container {
        display: flex;
    }

    &-Panel {
        min-height: 100%;
        min-width: 100%;
        background-color: #eb4444;
        
        
        &_pos_right {
            display: flex;
            align-items: center;

            button {
                font-size: 12px;
                color: #ffffff;
            }
        }
    }
    
    &-ChildPanelContainer {
        display: inline-flex;
        align-items: center;

        box-sizing: border-box;
        padding: 13px;
    }

}

