.Fallback {
    &-Placeholder,
    &-DefaultPlaceholder {
        animation: var(--placeholder-animation);
        background-image: var(--placeholder-image);
        background-size: var(--placeholder-size);
    }

    &-DefaultPlaceholder {
        margin: 0;
        height: 100vh;
    }

    &-CategoryPagePlaceholder,
    &-ProductPagePlaceholder {
        height: 100vh;

        @include tablet {
            padding-block-start: 0;
            margin-block-start: 0;
        }
    }

    &-CategoryWrapper {
        @include desktop {
            display: grid;
            padding-block-start: 24px;
            grid-column-gap: 48px;
            padding-inline-start: 32px;
            padding-inline-end: 32px;
        }

        grid-template-columns: 236px auto;

        @include mobile {
            padding: 0;
            margin-block-start: 0;
        }
    }

    &-ProductWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-template-rows: min-content min-content;
        padding-block-start: 24px;

        @include desktop {
            grid-column-gap: 48px;
            grid-template-areas: '. actions';
            padding-block-end: 72px;

            .ProductActions {
                grid-area: actions;
            }
        }

        @include mobile {
            grid-template-columns: 100%;
            padding: 0;
        }
    }

    &-CategoryFilterOverlay {
        @include desktop {
            position: relative;
            grid-row: 1/6;
            width: 100%;
            opacity: 1;
            pointer-events: all;
            display: flex;
            flex-direction: column;
            height: auto;
            overflow: visible;
        }

        @include mobile {
            display: none;
        }
    }

    &-ProductDetails {
        display: none;
    }

    &-CategoryDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        word-break: break-all;
    }

    &-CategoryDetails,
    &-ProductDetails {
        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
        }
    }

    &-Heading {
        @include mobile {
            color: var(--header-color);
            height: 30px;
            text-transform: inherit;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: calc(100% - 80px);
        }
    }

    &-CategoryDescription {
        @include mobile {
            display: none;
        }
    }

    &-ProductGallery {
        display: flex;
        flex-direction: column;
        height: 500px;
        margin-inline: 45px;

        @include ultra-narrow-desktop {
            min-width: 332px;
        }

        @include narrow-desktop {
            min-width: 482px;
        }

        @include mobile {
            margin-inline: 0;
            height: 100vh;
        }
    }

    &-ProductGallerySlider {
        animation: var(--placeholder-animation);
        background-image: var(--placeholder-image);
        background-size: var(--placeholder-size);
        width: 100%;
        height: 100%;
    }

    &-Actions {
        @include mobile {
            display: none;
        }
    }

    &-Title {
        margin-block: 8px;
        text-transform: none;

        @include mobile {
            font-weight: 400;
            font-size: 14px;
        }
    }
}
