.MyAccountDetails {
    --placeholder-animation: placeholderAnimation 2s linear infinite, appear 200ms forwards;

    max-width: 1200px;
    display: grid;
    grid-template-columns: 20% 78%;
    grid-column-gap: 2%;

    padding: {
        left: 7rem;
        right: 7rem;
    };

    margin: {
        top: 2rem;
        left: auto;
        right: auto;
    }

    @include after-mobile {
        display: block;
        max-width: var(--content-wrapper-width);
    }

    @include mobile {
        padding: 0 1.5rem;
    }

    &-Content {
        grid-column: 1 / span 2;

        @include mobile {
            padding-top: 3rem;
        }

        h1 {
            @include mobile {
                display: none;
            }
        }
    }

    &-Fieldset {
        padding-bottom: 2rem;

        &_type {
            &_EditContactInfo,
            &_EditAddressInfo {
                @include mobile {
                    grid-column: 1 / span 2;
                }
            }

            &_EditAccountInfo,
            &_EditAccountPassword {
                grid-column: 1 / span 2;

                @include after-mobile {
                    margin: 0 25%;
                }
            }

            &_EditAccountPassword {
                .Button {
                    @include after-mobile {
                        width: 50%;
                    }
                }
            }
        }
    }

    &-AddressWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;

        @include mobile {
            row-gap: 1.5rem;

            & * {
                grid-column: 1 / span 2;
            }
        }
    }

    &-Field {
        padding-top: .5rem;
        font-size: 1.15rem;
    }

    &-Actions {
        margin-top: 1rem;

        .Button:first-child {
            margin-right: 1rem;
        }
    }

    &-Heading {
        padding-bottom: 2rem;
    }

    &-Subheading {
        padding: .5rem 0;
    }

    &-Legend {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .Field {
        input {
            &:not([type="checkbox"]) {
                width: 100%;
            }
        }

        &_type {
            &_checkbox {
                display: flex;

                label {
                    @include mobile {
                        font-size: .9rem;
                    }
                }
            }
        }
    }

    .Form {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 5%;
        padding-bottom: 2rem;

        @include mobile {
            grid-template-columns: 1fr 1fr;
        }

        .Button {
            margin-top: 2rem;
            width: 40%;

            @include mobile {
                width: 100%;
                grid-column: 1 / span 2;
            }
        } 
    }
}