.MyAccountDetails {
    --placeholder-animation: placeholderAnimation 2s linear infinite, appear 200ms forwards;

    max-width: 1200px;
    display: grid;
    grid-template-columns: 20% 78%;
    grid-column-gap: 2%;
    margin: {
        left: auto;
        right: auto;
    }

    @include after-mobile {
        max-width: var(--content-wrapper-width);
        padding: {
            left: 7rem;
            right: 7rem;
        };
    }

    @include mobile {
        border-top: 1px solid var(--overlay-divider-color);
    }

    &-Content {
        grid-column: 1 / span 2;

        @include after-mobile {
            margin-top: 2rem;
        }
    }

    &-Fieldset {
        padding-bottom: 2rem;

        &_type {
            &_EditContactInfo,
            &_EditAddressInfo {
                @include mobile {
                    grid-column: 1 / span 2;
                }
            }

            &_EditAccountInfo,
            &_EditAccountPassword {
                grid-column: 1 / span 2;

                @include after-mobile {
                    margin: 0 25%;
                }
            }
        }
    }

    &-AddressWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;

        @include mobile {
            row-gap: 1.5rem;

            * {
                grid-column: 1 / span 2;
            }
        }
    }

    &-Field {
        padding-top: .5rem;
        font-size: 1.15rem;

        &:first-of-type {
            @include mobile {
                padding-top: 0;
            }
        }

        strong {
            margin-right: 5px;
        }
    }

    &-Actions {
        @include mobile {
            margin-top: 1rem;
        }

        .Button:first-child {
            margin-right: 1rem;
        }
    }

    &-Heading {
        @include mobile {
            display: none;
        }
    }

    &-Subheading {
        padding: .5rem 0;
    }

    &-Country {
        display: block;
        margin-bottom: .3rem;
        font-weight: 700;
        font-size: 1.05rem;
        line-height: 1.65rem;
        pointer-events: none;
    }

    &-ExpandableContentHeading {
        @include after-mobile {
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 2rem;
        }
    }

    .Field {
        input {
            &:not([type='checkbox']) {
                width: 100%;
            }
        }

        &_type {
            &_checkbox {
                display: flex;

                label {
                    @include mobile {
                        font-size: .9rem;
                    }
                }
            }
        }
    }

    &-Form {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 50px;
        padding-bottom: 2rem;

        @include mobile {
            grid-template-columns: 1fr 1fr;
            padding: 1rem;
        }
    }

    .Select-Wrapper {
        span {
            top: 0;
        }

        ul {
            overflow-y: scroll;
        }
    }

    .Button {
        margin-top: 1rem;

        @include mobile {
            width: 100%;
            grid-column: 1 / span 2;
        }

        &_type {
            &_savePassword {
                width: 50%;

                @include tablet {
                    width: 70%;
                }

                @include mobile {
                    width: 100%;
                }
            }

            &_logout {
                margin: 1rem;
                width: calc(100% - 2rem);

                @include desktop {
                    display: none;
                }
            }
        }
    }
}
