.MyAccountOrders{
    &-Wrapper {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 2rem;

        padding: {
            left: 1rem;
            right: 1rem;
        };

        margin: {
            top: 2rem;
            left: auto;
            right: auto;
        }

        @include mobile {
            display: block;
        }
    }

    &-Heading {
        padding-bottom: 2rem;
    }

    &-Table {
        width: 100%;
        display: table;

        &_isHidden {
            display: none;
        }
    }

    &-Empty {
        font-size: 1.5rem;
    }

    td {
        overflow: hidden;
        text-align: center;
    }
}