.CarouselScrollItem {
    display: flex;
    height: var(--carousel-item-height);
    width: 100%;
    scroll-snap-align: start;
    border: solid 1px transparent;
    transition: border-color var(--animation-speed), filter var(--animation-speed);
    filter: opacity(.5);
    flex: 1;
    cursor: pointer;

    &_isActive {
        filter: opacity(1);
        border-color: var(--option-border-color);
    }

    &:focus,
    &:hover {
        filter: opacity(1);
    }
}
