:root {
    --cart-overlay-totals-background: #f8f8f8;
    --cart-overlay-divider-background: #d8d8d8;
    --cart-overlay-promo-background: #fff;
}

.CartOverlay {
    @include after-mobile {
        position: absolute;
        top: var(--header-height);
        right: 0;
        padding: 0;
        width: 400px;
        border: 1px solid var(--my-account-border-color);
    }

    &::before {
        @include after-mobile {
            content: '';
            position: absolute;
            top: -9px;
            right: 9px;
            height: 15px;
            width: 15px;
            transform: rotate(45deg);
            background-color: var(--overlay-background);
            border: {
                top: 1px solid var(--my-account-border-color);
                left: 1px solid var(--my-account-border-color);
            }
        }
    }

    &-Empty {
        padding: 1rem;
        border-bottom: 1px solid var(--expandable-content-color);
    }

    &-Floating {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;

        @include after-mobile {
            position: relative;
        }
    }

    &-CheckoutButton {
        width: 100%;
        display: block;
        text-align: center;
    }

    &-Promo,
    &-Total {
        min-height: 4rem;
    }

    &-Promo {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid var(--cart-overlay-divider-background);
        background: var(--cart-overlay-promo-background);

        @include mobile {
            border-top: 1px solid var(--expandable-content-color);
        }

        strong {
            margin: 0 5px;
        }
    }

    &-Total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 18px;
        font-weight: bold;
        background: var(--cart-overlay-totals-background);
    }

    &-Static {
        overflow: scroll;
        max-height: calc(100% - 12rem);
    }
}
