.MyAccountDashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @include after-mobile {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    &-DefaultAddress {
        @include after-mobile {
            grid-row: 2;
        }
    }

    &-Info {
        margin-bottom: 5px;
    }
}
