.HamburgerMenu {
  --side-menu-width: 250px;

  position: fixed;
  top: 0;
  left: 0;
  width: var(--side-menu-width);
  background-color: var(--color-white);
  height: 100%;
  z-index: 300;
  transform: translateX(calc(-1 * var(--side-menu-width)));
  transition: transform 250ms ease-out;
  overflow-y: scroll;

  &_isSideMenuOpen {
    transform: translateX(0);
    box-shadow: 0 5px 10px rgba(125, 125, 125, 0.5);
  }

  &-CloseBtn {
    position: sticky;
    top: 0;
    width: 34px;
    height: 34px;
    margin-block-start: 5px;
    margin-inline-start: 5px;

    svg {
      width: 34px;
      height: 34px;
    }
  }

  .MinusIcon,
  .AddIcon {
    pointer-events: none;
  }
};
