.ProductLinks {
    @include mobile {
        margin-top: 14px;
        border-bottom: 1px solid var(--primary-divider-color);
    }

    @include desktop {
        grid-column: 1 / span 2;
    }

    &-Wrapper {
        padding-bottom: 0;
        padding-top: 0;
    }

    &-List {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 1fr 1fr;

        @include mobile {
            grid-gap: 14px;
        }

        @include after-mobile {
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 36px;
            justify-content: center;
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-Title {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;

        @include mobile {
            padding: 4px 0 18px;
        }

        @include after-mobile {
            // text-align: center;
            padding: 12px 0 36px;
            font-weight: bold;
        }
    }

    .Image_imageStatus_1 {
        mix-blend-mode: multiply;
    }
}
