.ProductLinks {
    width: 100%;

    @include mobile {
        margin-block-start: 14px;
    }

    @include desktop {
        grid-column: 1 / span 2;
    }

    &-Wrapper {
        padding-block: 0;

        @include mobile {
            padding-inline: 0;
        }
    }

    &-List {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 1fr 1fr;

        @include mobile {
            grid-gap: 14px;
        }

        @include desktop {
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 24px;
            justify-content: center;
        }

        @include narrow-desktop {
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-Title {
        font-weight: bold;

        @include mobile {
            padding-block-start: 4px;
            padding-block-end: 18px;
            padding-inline: 0;
        }

        @include desktop {
            padding-block-start: 12px;
            padding-block-end: 36px;
            padding-inline: 0;
        }
    }

    .Image_imageStatus_1 {
        mix-blend-mode: multiply;
    }
}
