.ProductLinks {
    @include mobile {
        margin-top: 1.4rem;
        border-bottom: 1px solid var(--primary-divider-color);
    }

    @include desktop {
        grid-column: 1 / span 2;
    }

    &-Wrapper {
        padding-bottom: 0;
        padding-top: 0;
    }

    &-List {
        display: grid;
        grid-gap: 1.2rem;
        grid-template-columns: 1fr 1fr;

        @include mobile {
            grid-gap: 1.4rem;
        }

        @include after-mobile {
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 3.6rem;
            justify-content: center;
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-Title {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;

        @include mobile {
            padding: .42rem 0 1.82rem;
        }

        @include after-mobile {
            // text-align: center;
            padding: 1.2rem 0 3.6rem;
            font-weight: bold;
        }
    }

    .Image_imageStatus_1 {
        mix-blend-mode: multiply;
    }
}
