.KeyValueTable {
    margin: 0 0 1rem 0;
    min-width: 100%;

    &-Heading {
        font-size: 14px;
    }

    &-Item {
        &-Name {
            border-top: 1px solid rgba(10, 10, 10, 0.5);
        }
    }

    &-Totals {
        &-Separated {
            border-top: 1px solid rgba(10, 10, 10, 0.5);
        }
    }

    &-Wrapper {
        @include mobile {
            overflow-x: scroll;
            max-width: calc(100vw - 2rem);
        }
    }
}
