.hidden-desktop {
    @include desktop {
        display: none;
    }
}

.hidden-tablet {
    @include tablet {
        display: none;
    }
}

.hidden-mobile {
    @include mobile {
        display: none;
    }
}

br {
    &.mobile-only {
        content: '';
        display: inline;
        vertical-align: top;
        zoom: 1;
        overflow: hidden;
        width: .3em;
        float: right; 

        @include mobile {
            display: initial;
            content: initial;
            height: auto;
            width: 100%;
            float: initial;
        }
        
        &::before {
            content: '';
            display: inline-block;
            width: .3em;

            @include mobile {
                content: none;
            }
        }
    }
}

.mobile-only {
    display: none;

    @include mobile {
        display: inline-block;
    }
}
