.CheckoutAddressBook {
    margin: 2rem 0;
    width: 100%;

    &-Wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &-CustomAddressWrapper {
        margin: 2rem 0;

        @include mobile {
            margin: 1rem 0;
        }
    }

    & &-Button {
        display: block;

        &_isCustomAddressExpanded {
            display: none;
        }
    }
}
