.DateSelect {
  &-Wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &-InnerWrapper {
    display: flex;

    &:not(:last-of-type) {
      margin-inline-end: 15px;
    }

    .Field-Wrapper:not(:last-of-type) {
      margin-inline-end: 15px;
    }

    .FieldSelect {
      &-Clickable {
        min-width: 113px;
      }
    }
  }
}