.ContactPage {
    &-Heading {
        height: 3.6rem;
        margin-top: 2.4rem;
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
    }

    &-ColumnWrapper {
        display: flex;
        margin-bottom: 2.4rem;

        @include mobile {
            display: block;
            padding: 1.2rem 0;
        }
    }

    &-Column {
        flex: 1;

        &_isContent {
            margin-right: 1.8rem;

            @include mobile {
                margin-right: 0;
            }
        }
    }

    .Form {
        .Button {
            
            @include mobile {
                width: 100%;
            }
        }
    }
}
