:root {
    --my-account-order-table-row-hover-background: var(--secondary-base-color);
    --link-color: var(--primary-base-color);
    --link-hover: var(--primary-dark-color);
}

.MyAccountDownloadTableRow {
    height: 36px;

    td,
    th {
        @include mobile {
            width: 100%;
        }
    }

    &-Link {
        display: block;
    }

    &-Status {
        text-transform: capitalize;
    }

    &-OrderId {
        color: var(--link-color);
        &:hover {
            cursor: pointer;
            color: var(--link-hover);
        }
    }
}
