.CreateAccount {
    .ContentWrapper {
        padding: 2.8rem 2rem 5rem;

        @include desktop() {
            padding-top: 2.5rem;
        }
    }

    &-InnerWrapper {
        @include desktop() {
            display: grid;
            justify-content: space-around;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10rem;
        }

        .MyAccountOverlay {
            &-Additional {
                display: none;
            }
        }

        button {
            margin-top: 2rem;
        }

        > div {
            flex: 1;
            margin: 0 1rem;
        }

        button,
        input {
            min-width: 25rem;

            @include before-desktop {
                width: 100%;
            }

            @include desktop {
                max-width: 30rem;
                width: 100%;
            }
        }

        p {
            margin-bottom: 2rem;
        }
    }

    .Loader {
        margin: 0;
    }
}
