@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin before-desktop {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1023px) and (min-width: 768px) {
        @content;
    }
}

@mixin after-mobile {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}
