.Swatch {
    $round-border-color: rgba(0, 0, 0, .4);

    --button-padding: 0;
    --button-color: var(--color-breadcrumbs-current);
    --button-background: transparent;
    --button-hover-color: var(--color-primary-base);
    --button-hover-background: transparent;
    --button-border: var(--color-breadcrumbs-current);

    width: 35px;
    height: 35px;
    font-size: .9rem;

    &:not([disabled]) {
        &:focus {
            color: var(--button-color);
            border-color: var(--button-border);
        }
    }

    &_isRound {
        --button-border: #{transparentize($round-border-color, .2)};
        --button-hover-border: #{$round-border-color};

        border-radius: 50%;
    }

    &_isSelected {
        --button-border-width: 2px;
        --button-border: var(--color-primary-base);
        --button-hover-border: var(--color-primary-base);
        --button-color: var(--color-primary-base);
    }

    &_isLoading {
        --button-border: transparent;
        --button-hover-border: transparent;

        background-image: var(--placeholder-image);
        background-size: var(--placeholder-size);
        animation: var(--placeholder-animation);
    }
}
