.InstallPrompt {
    // prevent margin merging
    border-top: 0.1rem solid transparent;

    @include before-desktop {
        + .CmsPage {
            margin-top: 0;

            .CmsPage-Wrapper {
                margin-top: 0;
            }
        }
    }
}
