.CarouselScrollArrow {
    //@include chevron-icon;

    $arrow-size: 25px;
    z-index: 1;
    transition: opacity 200ms;
    cursor: pointer;
    transform: rotate(-180deg);

    width: $arrow-size;
    height: $arrow-size;

    .ChevronIcon {
        width: 100%;
        height: 100%;
    }

    &:hover {
        transform: rotate(-180deg) scale(1.2);
    }

    &_isNextArrow {
        transform: none;

        &:hover {
            transform: scale(1.2);
        }
    }

    &_isDisabled {
        opacity: 0;
        cursor: default;
    }

    &_isInvisible {
        visibility: hidden;
    }
}
