.CategoriesList {
    margin-top: 2rem;

    @include mobile {
        display: none;
    }

    a {
        color: var(--color-text-black);
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--color-primary-base);
            text-decoration: none;
        }
    }

    & &-Category {
        li {
            padding-left: 1.5em;
        }

        li:last-child {
            margin: 0;
        }

        a {
            transition: color 150ms ease-in;
            line-height: 1.5;

            &:hover,
            &:focus {
                color: var(--color-primary-base);
            }
        }

        &_isSelected {
            > a {
                color: var(--color-primary-base);
            }
        }
    }
}
