.CategoriesList {
    margin-top: 2rem;

    @include mobile {
        display: none;
    }

    a {
        color: var(--color-text-black);
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--color-primary-base);
            text-decoration: none;
        }
    }

    & &-Category {
        list-style-type: initial;

        li {
            list-style-type: circle;
            padding-left: 2em;

        }

        a {
            transition: color 150ms ease-in;

            &:hover,
            &:focus {
                color: var(--color-primary-base);
            }
        }

        &_isSelected {
            > a {
                color: var(--color-primary-base);
            }
        }

        &_isParent {
            > a {
                line-height: 2.5;
            }
        }
    }
}
