.TierPrices {
    width: 100%;

    &-Item {
        font-size: 1.5rem;
        padding-left: 0;

        @include after-mobile {
            padding-left: 5px;
        }

        &:last-child {
            margin-bottom: 1.2rem;

            @include mobile {
                margin-bottom: 1.4rem;
            }
        }

        &::before {
            content: none;
        }

        &_isLowest {
            font-size: 1.2rem;
            margin-top: 2px;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-ItemPrice {
        font-weight: bold;
    }
}
