.TierPrices {
    &-Item {
        @include after-mobile {
            padding-left: 5px;
        }

        @include mobile {
            padding-left: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &::before {
            content: none;
        }
    }
}
