:root {
    --install-prompt-android-background: #eee;
}

.InstallPromptAndroid {
    --button-background: var(--homepage-button-background);
    --button-color: var(--homepage-button-color);
    --button-border: transparent;
    --button-hover-background: var(--homepage-button-color);
    --button-hover-color: var(--homepage-button-background);
    --button-hover-border: transparent;
    --button-padding: 13px 40px;
    --button-border-width: 0;

    background: var(--install-prompt-android-background);
    padding: 12px;
    margin: 12px;

    @include mobile {
        padding: 14px;
        margin: 14px;
    }

    &-Content {
        font-size: 15px;
        text-align: center;
        padding: 24px 0 12px;

        @include mobile {
            padding: 28px 0 14px;
        }
    }

    &-Close {
        @include close-button;

        position: absolute;
        z-index: 10;
        top: 0;
        inset-inline-end: 0;
        width: 40px;
        height: 40px;

        &::before,
        &::after {
            top: 12px;
        }
    }

    &-Button {
        display: block;
        margin: auto;
        width: max-content;
    }
}
