.CheckoutSuccess {
    @include mobile {
        margin-top: 28px;
        text-align: center;
    }

    &-ContinueButton {
        @include mobile {
            width: 100%;
        }

        @include after-mobile {
            margin-top: 24px;
        }
    }

    &-ButtonWrapper {
        @include mobile {
            padding: 14px;
            position: fixed;
            inset-inline-start: 0;
            width: 100%;
            bottom: var(--navigation-tabs-height);
            border-top: 1px solid var(--primary-divider-color);
        }
    }

    .Button {
        @include before-desktop {
            width: 100%;
            text-align: center;
        }
    }

    .CheckoutRegistrationLink {
        margin-top: 20px;
    }
}
