:root {
    --wishlist-heart-size: 12px;
    --wishlist-heart-background: var(--primary-base-color);
}

.ProductWishlistButton {
    --button-padding: 0;

    height: 47px;
    width: 47px;
    margin-left: .9rem;

    &.Button {
        border-radius: 50%;
    }

    &_isInWishlist {
        --wishlist-heart-background: #fff;
    }

    &-Heart {
        transform: rotate(-45deg);
        bottom: 0;
        top: 1px;
        margin: auto;

        &,
        &::after,
        &::before {
            height: var(--wishlist-heart-size);
            width: var(--wishlist-heart-size);
            background-color: var(--wishlist-heart-background);
        }

        &::after,
        &::before {
            content: '';
            border-radius: 50%;
            position: absolute;
        }

        &::before {
            top: calc(var(--wishlist-heart-size) / -2);
            right: 0;
        }

        &::after {
            right: calc(var(--wishlist-heart-size) / -2);
            top: 0;
        }
    }
}
