.HomeSlider {
    --arrow-color: var(--color-neutral-base);
    --text-color: var(--color-text-white);
    
    height: 370px;

    @include mobile {
        height: 240px;
    }

    &-SlideArea {
        height: 100%;
    }

    &-Slide {
        &::before {
            content: none;
        }

        figure {
            padding-bottom: 0;
            height: 100%;

            figcaption {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 1200px;
                margin: auto;
                right: 0;
                left: 0;
                padding-left: 1rem;

                & > div {
                    font-size: 2rem;
                    margin-bottom: 2rem;

                    & > span:first-child {
                        font-size: 4.5rem;

                        @include mobile {
                            font-size: 2.4rem;
                        }
                    }

                    span {
                        display: block;
            
                        &:last-child {
                            display: inline;
                        }

                        @include mobile {
                            font-size: 1.4rem;
                        }
                    }
                }

                button {
                    padding: 0;
                    border: 0;
                    width: 18rem;

                    @include mobile {
                        width: 14rem;
                        font-size: .9rem;
                        height: 3.2rem;
                    }

                    span {
                        padding-left: 1.2rem;
                    }

                    a {
                        color: var(--text-color);

                        display: block;
                        line-height: 3.5;
                        height: 100%;

                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }

            picture {
                padding-bottom: 0;
            }

            img {
                object-fit: cover;
            }
        }
    }
}
